<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar">
  <h1 class="logo">Angular Table Demo</h1>
  <div class="nav-links">
    <a class="nav-item" routerLinkActive="active-link" routerLink="/ag-grid">Ag Grid</a>
    <a class="nav-item" routerLinkActive="active-link" routerLink="/material-table">Material</a>
    <a class="nav-item" routerLinkActive="active-link" routerLink="/swimlane-table"
      >Swimlane ngx-datatable</a
    >
    <a class="nav-item" routerLinkActive="active-link" routerLink="/prime-faces-table"
      >PrimeNg Table</a
    >
    <a class="nav-item" routerLinkActive="active-link" routerLink="/smart-table">Smart Table</a>
  </div>
</nav>

<div class="root">
  <router-outlet></router-outlet>
</div>
